.sideButton {
    width: 8%;
    float: left;
}
.listingItem {
    width: 18%;
    float: left;
}

.listingSubItem {
    width: 16%;
    float: left;
}
.filterRow {
    width: 100%;
    display: inline-block;
}
.filterRow > div {
    display: inline-block;
    width: 19%;
    padding-bottom: 1em;
}