.searchBox {
  width: 100%;
  float: right;
  transition: width 2s;
}
.searchBox:focus {
  width: 200%;
  transition: width 2s;
}
div.filterRow.show {
  display: block;
}
div.filterRow.hide {
  display: none;
}
.activeFilter {
  background-color: black;
  z-index: 0;
  background: #000;
  background: rgba(0, 0, 0, 0.35);
  border-radius: 2em;
}
.sideButton {
  width: 10%;
  float: left;
}
.listingItem {
  width: 18%;
  float: left;
}
.listingSubItem {
  width: 16%;
  float: left;
}
.filterRow {
  width: 100%;
  display: inline-block;
}
.filterRow>div {
  display: inline-block;
  width: 19%;
  padding-bottom: 1em;
}
.filterTitle {
  font-weight: bolder;
  font-size: 1.25em;
  color: black;
}
