/*!
 * STB - Modify Table v 1.2.0
 * Dan's Tech Support Unlimited (http://danstechsupport.com)
 * DTSU Dev Team (http://devteam.danstechsupport.com)
 */

.dropdown-toggle {
  height: 2em;
}
#collapsableBox {
  width: 100%;
}
.outline {
  border-left: 2px solid #D12026;
  border-right: 2px solid #D12026;
  border-bottom: 4px solid #000;
}
div.list-group-item>div.collapse {
  background-color: none;
  border-bottom: none;
}
