<section ng-controller="HomeController" style="">
  <div class="cover-container" style=" padding-top: 10%;">
    <div id="infoBox" style="height: 100%; width: 100%; display: table;">
      <div style="vertical-align: middle; display:table-cell; width: 100%;">
        <div class="inner cover" style="font-size: 1.5em; color: white; text-align: center;">
          <p class="underline-color">
            <span class="underline-text-color" style="font-size:1.5em;">Tournament FastPitch</span>
          </p>
          <p style="padding-top:10px;">This is a test front page text. This should span most of the page and represent a front page announcement.</p>
        </div>
      </div>
    </div>
    <div class="mastfoot footer navbar-fixed-bottom">
      <div class="inner" style="text-align:center; ">
        <p style="color: white; font-size:2em;">Tournament FastPitch <span style="color:#B30000;">-</span> <span style="color: gold;">Where The Game Is</span></p>
      </div>
    </div>
  </div>
</section>
