<section ng-controller="HomeController" style="">
  <div class="cover-container" style=" padding-top: 10%;">
    <div id="infoBox" style="height: 100%; width: 100%;">
      <div style="vertical-align: middle; display:table-cell; width: 100%;">
        <div class="inner cover" style="font-size: 1.5em; color: white; padding-left: 15%; padding-right:15%;">
          <h1>Test this is a test</h1>
          <p>this is another test</p>
        </div>
      </div>
    </div>
    <div class="mastfoot footer navbar-fixed-bottom">
      <div class="inner" style="text-align:center; ">
        <p style="color: white; font-size:1.5em;">Tournament FastPitch - <span style="color: gold;">Where the Game is</span></p>
      </div>
    </div>
  </div>
</section>
