<section ng-controller="HomeController" style="">
  <div class="cover-container" style=" padding-top: 10%;">
    <div id="infoBox" style="height: 100%; width: 100%;">
      <div style="vertical-align: middle; display:table-cell; width: 100%;">


        <div class="inner cover" style="font-size: 1.5em; color: white; padding-left: 15%; padding-right:15%;">
          <h1>Test this is a test</h1>
          <p>this is another test</p>
        </div>
        <div class="mastfoot">
          <div class="inner">
            <p style="color: gold ; font-size:1.5em;">Tournament FastPitch - Where the Game is</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
