body {
  background-image: url("/img/home/background.jpeg");
  background-size: cover;
}
#infoBox {
  background-color: black;
  z-index: 0;
  background: rgba(0, 0, 0, 0.5);
}
.cover {
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 2%;
  padding-bottom: 2%;
}
.underline-color {
  color: #B30000;
  text-decoration: underline;
}
.underline-text-color {
  color: white;
}
