body {
  background-image: url("/img/home/background.jpeg");
  background-size: cover;
}
.infoBox {
  background-color: black;
  z-index: 0;
  background: #000;
  background: rgba(0, 0, 0, 0.5);
}
.cover {
  padding: 2% 15% 2% 15%;
}
.underline-color {
  color: #B30000;
  text-decoration: underline;
}
.underline-text-color {
  color: white;
}
